@charset "UTF-8";
h2 {
  font-size: clamp(1.75rem, 1.568rem + 0.91vw, 2.25rem);
  text-align: center;
  letter-spacing: 0.25rem;
}

h3 {
  text-align: center;
  letter-spacing: 0.2rem;
  margin: 0;
  padding: 0;
}

.menu-text {
  font-family: "Work Sans";
  font-weight: 500;
  font-size: 18px;
}

/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  /* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  line-height: 1.15; /* 1. Correct the line height in all browsers. */
  -webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
  -moz-tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
body {
  font-family: "Work Sans";
  background-color: rgb(235, 242, 244);
  box-sizing: border-box;
  margin: 0; /* Remove the margin in all browsers. */
}

ul {
  list-style: none;
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.header {
  box-shadow: 0px 4px 21px -1px rgb(34, 60, 80);
}

.header__container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 400px;
  padding: 10px;
}
.logoimg {
  max-width: 100%;
}

h1 {
  width: 100px;
  padding-left: 6px;
}

.menu__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu__item:not(:last-child) {
  margin-right: 26px;
}

.menu__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.4s;
}
.menu__link::before {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 3px;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(94, 111, 238);
  transition: color 0.6s, opacity 0.6s;
  opacity: 0;
  visibility: hidden;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: rgb(45, 48, 241);
    opacity: 0.7;
  }
  .menu__link:hover::before {
    opacity: 1;
    visibility: visible;
  }
}

/* Burger-menu */
.header__burger-btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  z-index: 4;
}

.header__burger-btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: rgb(10, 10, 10);
  left: 5px;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}

.header__burger-btn span:nth-child(1) {
  transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
  transform: translateY(10px);
}

/* Двигаем рисунок бургер-меню в крестик */
.header.open .header__burger-btn span:nth-child(2) {
  opacity: 0;
}

.header.open .header__burger-btn span:nth-child(1) {
  transform: translateY(0px) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(3) {
  transform: translateY(0px) rotate(-45deg);
}

.header.open .header__burger-btn span {
  background-color: rgb(255, 255, 255);
}

/* Мобильная версия */
@media (max-width: 992px) {
  .header__burger-btn {
    display: block;
  }
  .menu {
    position: absolute;
    width: 350px;
    left: -350px;
    top: 0;
    background-color: rgb(58, 86, 117);
    padding: 75px 20px 20px 20px;
    transition: transform 0.5s;
  }
  .menu__list {
    display: block;
    padding-top: 15px;
  }
  .menu__link {
    display: block;
    font-size: 20px;
    padding: 10px 0px;
    color: rgb(250, 248, 248);
  }
  .header.open .menu {
    transform: translateX(100%);
    z-index: 3;
  }
}
.basket {
  position: relative;
}

.basket__count {
  position: absolute;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: rgb(255, 89, 0);
  width: 26px;
  height: 26px;
  background-color: aqua;
  border-radius: 50%;
  right: -8px;
}

.popular__container {
  padding: 0;
}

.popular {
  background: url("../../images/bg-slider.jpg") center center/cover no-repeat;
  height: 400px;
}
@media (max-width: 320px) {
  .popular {
    height: 360px;
  }
}

.popular-slide {
  display: flex;
  flex-direction: column;
}

.popular-slide__picture {
  position: relative;
  margin: 0 0 20px 0;
  padding: 0 0 58% 0;
  overflow: hidden;
}

.popular-slide__picture img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.popular-slide__head {
  display: flex;
  justify-content: space-between;
}

.popular-slide__text {
  padding: 0 8px;
}

.popular-slide__title {
  margin: 0;
  padding: 0;
}

.popular-slide__desc {
  margin-top: 6px;
  margin-bottom: 8px;
}

.popular-slide__labels {
  display: flex;
  flex-wrap: wrap;
  padding: 0 8px;
  gap: 20px;
}
@media (max-width: 660px) {
  .popular-slide__labels {
    justify-content: center;
  }
}

.popular-slide__label {
  display: flex;
  align-items: center;
  gap: 4px;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
}

.popular-slide__button {
  font-size: 14px;
  padding: 6px;
  font-weight: 600;
  border: 1px solid rgb(36, 36, 36);
  color: rgb(235, 242, 244);
  background-color: rgb(94, 105, 138);
  transition: opasity 0.4s;
  margin-left: auto;
}
@media (any-hover: hover) {
  .popular-slide__button:hover {
    opacity: 0.6;
  }
}

.popular-slide__page {
  color: rgb(235, 242, 244);
}

.swiper-button-prev {
  color: aliceblue;
}

.swiper-button-next {
  color: aliceblue;
}

.catalog__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(235, 242, 244);
}
@media (min-width: 320px) {
  .catalog__wrapper {
    max-width: 479px;
  }
}
@media (min-width: 480px) {
  .catalog__wrapper {
    max-width: 991px;
  }
}
@media (min-width: 992px) {
  .catalog__wrapper {
    max-width: 1400px;
  }
}

.card__item {
  position: relative;
  width: 90%;
  padding: 6px;
  overflow: hidden;
  margin-bottom: 30px;
  overflow: hidden;
  background-color: rgb(222, 232, 241);
  box-shadow: 0px 4px 11px -1px rgb(34, 60, 80);
}
@media (min-width: 320px) {
  .card__item {
    max-width: 90%;
  }
}
@media (min-width: 480px) {
  .card__item {
    max-width: 48%;
  }
}
@media (min-width: 992px) {
  .card__item {
    max-width: 32%;
  }
}

.card__item h3 {
  text-align: start;
  font-size: 26px;
  margin: 8px;
}

.card__item .popular-slide__button {
  height: 30px;
  align-self: center;
}

.card__imgwraper {
  position: relative;
  margin: 0 0 20px 0;
  padding: 0 0 58% 0;
  overflow: hidden;
}

.card__img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  transition: transform 500ms ease;
}
.card__img:hover {
  transform: scale(1.05);
}

.popular-slide__title,
.card__price,
.card__description,
.card__item span {
  margin: 10px 20px;
}

.card__price {
  color: rgb(94, 105, 138);
  font-weight: 600;
  font-size: 24px;
}

.catalog__btn-next {
  font-size: 20px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 180px;
}

.card__labels {
  font-size: 12px;
  margin: 4px;
  margin-left: 8px;
}

.card__labels span {
  margin: 4px;
  margin-left: 4px;
}

.card__add {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  right: 0px;
  top: 4px;
  background-color: transparent;
  border: none;
  transition: transform 500ms ease;
}
.card__add:hover {
  transform: scale(1.15);
}
.card__add::before {
  display: inline-block;
  content: "";
  background: url("../../images/heart.png");
  margin-right: 6px;
  height: 34px;
  width: 34px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.active::before {
  display: inline-block;
  content: "";
  background: url("../../images/love.png");
  margin-right: 6px;
  height: 34px;
  width: 34px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.information__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(235, 242, 244);
}
@media (min-width: 320px) {
  .information__wrapper {
    max-width: 479px;
  }
}
@media (min-width: 480px) {
  .information__wrapper {
    max-width: 991px;
  }
}
@media (min-width: 992px) {
  .information__wrapper {
    max-width: 1400px;
  }
}

.information__card {
  border: 1px solid gray;
  width: 90%;
  overflow: hidden;
  margin-bottom: 30px;
  padding: 6px;
  overflow: hidden;
  background: linear-gradient(to top, rgba(108, 121, 153, 0.7), rgba(62, 70, 94, 0.7)), url("../../images/bacg.jpg");
  border-radius: 10px;
  transition: transform 500ms ease;
}
.information__card:hover {
  transform: scale(1.03);
}
@media (min-width: 320px) {
  .information__card {
    max-width: 90%;
  }
}
@media (min-width: 480px) {
  .information__card {
    max-width: 48%;
  }
}

.information__link {
  font-size: 24px;
  color: rgb(250, 248, 248);
  font-weight: 600;
  margin-top: 46px;
  margin-bottom: 20px;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  width: 900px;
  background-color: azure;
  border: 1px solid gray;
}/*# sourceMappingURL=main.css.map */