.container {
  max-width: 1400px;
  margin: 0 auto;
}
.header {
  box-shadow: 0px 4px 21px -1px rgba(34, 60, 80, 1.13);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.logo {
  display: block;
  max-width: 100px;
  padding: 10px;

  &img {
    max-width: 100%;
  }
}

.menu__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu__item:not(:last-child) {
  margin-right: 26px;
}
.menu__link {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.4s;
  &::before {
    content: "";
    position: absolute;
    bottom: -5px;
    height: 3px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(94, 111, 238);
    transition: color 0.6s;
    opacity: 0;
    visibility: hidden;
  }
  @media (any-hover: hover) {
    &:hover {
      color: rgb(45, 48, 241);
      &::before {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

/* Burger-menu */
.header__burger-btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  z-index: 4;
}
.header__burger-btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: rgb(10, 10, 10);
  left: 5px;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}
.header__burger-btn span:nth-child(1) {
  transform: translateY(-10px);
}
.header__burger-btn span:nth-child(3) {
  transform: translateY(10px);
}

/* Двигаем рисунок бургер-меню в крестик */
.header.open .header__burger-btn span:nth-child(2) {
  opacity: 0;
}
.header.open .header__burger-btn span:nth-child(1) {
  transform: translateY(0px) rotate(45deg);
}
.header.open .header__burger-btn span:nth-child(3) {
  transform: translateY(0px) rotate(-45deg);
}
.header.open .header__burger-btn span {
  background-color: rgb(255, 255, 255);
}

/* Мобильная версия */
@media (max-width: 992px) {
  .header__burger-btn {
    display: block;
  }
  .menu {
    position: absolute;
    width: 350px;
    left: -350px;
    top: 0;
    background-color: rgb(58, 86, 117);
    padding: 75px 20px 20px 20px;
    transition: transform 0.5s;
  }
  .menu__list {
    display: block;
    padding-top: 15px;
  }
  .menu__link {
    display: block;
    font-size: 20px;
    padding: 10px 0px;
    color: rgb(250, 248, 248);
  }
  .header.open .menu {
    transform: translateX(100%);
    z-index: 3;
  }
}
