.information__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $bg-color;
  @media (min-width: 320px) {
    max-width: 479px;
  }
  @media (min-width: 480px) {
    max-width: 991px;
  }
  @media (min-width: 992px) {
    max-width: 1400px;
  }
}
.information__card {
  border: 1px solid gray;
  width: 90%;
  overflow: hidden;
  margin-bottom: 30px;
  padding: 6px;
  overflow: hidden;
  background:  linear-gradient(to top, rgba(108, 121, 153, 0.7), rgba(62, 70, 94, 0.7)), url("../../images/bacg.jpg");
  border-radius: 10px;
  transition: transform 500ms ease;
  &:hover {
    transform: scale(1.03);
  }
  @media (min-width: 320px) {
    max-width: 90%;
  }
  @media (min-width: 480px) {
    max-width: 48%;
  }
}
.information__link {
  font-size: 24px;
  color: $white-text-color;
  font-weight: 600;
  margin-top: 46px;
  margin-bottom: 20px;
}
