.popular__container {
  padding: 0;
}
.popular {
  background: url("../../images/bg-slider.jpg") center center/cover no-repeat;
  height: 400px;
  @media (max-width: 320px) {
    height: 360px;
  }
}
.popular-slide {
  display: flex;
  flex-direction: column;
}
.popular-slide__picture {
  position: relative;
  margin: 0 0 20px 0;
  padding: 0 0 58% 0;
  overflow: hidden;
}
.popular-slide__picture img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}
.popular-slide__head {
  display: flex;
  justify-content: space-between;
}
.popular-slide__text {
  padding: 0 4px;
}
.popular-slide__title {
  margin: 0;
  padding: 0;
}
.popular-slide__desc {
  margin-top: 6px;
  margin-bottom: 8px;
}
.title {
}
.popular-slide__labels {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.popular-slide__label {
  display: flex;
  align-items: center;
  gap: 4px;
}

.popular__slider {
}
.swiper {
  overflow: hidden;
}
.swiper-wrapper {
  display: flex;
}

.swiper-slide {
}

.swiper-pagination {
}

.swiper-scrollbar {
}
.popular-slide__button {
  font-size: 14px;
  padding: 6px;
  font-weight: 600;
  border: 1px solid rgb(36, 36, 36);
  color: $bg-color;
  background-color: $btn-color;
  transition: opasity 0.4s;
  margin-left: auto;
  @media (any-hover: hover) {
    &:hover {
      opacity: 0.6;
    }
  }
}
.popular-slide__page {
  color: $bg-color;
}
.slider__buttons {
}
.swiper-button-prev {
  color: aliceblue;
}
.swiper-button-next {
  color: aliceblue;
}
